* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: "Poppins";
}
:root {
  --bg-color: #080808;
  --second-bg-color: #101010;
  --text-color: white;
  --main-color: #ea580c;
}
html {
  font-size: 60%;
  overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}

/* INDEX CSS */


.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 600px;
  background: #f5f5f5;
  box-shadow: 0 30px 50px #dbdbdb;
}

.container .slide .item{
  width: 200px;
  height: 300px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 20px;
  box-shadow: 0 30px 50px #505050;
  background-position: 50% 50%;
  background-size: cover;
  display: inline-block;
  transition: 0.5s;
}

.slide .item:nth-child(1),
.slide .item:nth-child(2){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}


.slide .item:nth-child(3){
  left: 50%;
}
.slide .item:nth-child(4){
  left: calc(50% + 220px);
}
.slide .item:nth-child(5){
  left: calc(50% + 440px);
}

/* here n = 0, 1, 2, 3,... */
.slide .item:nth-child(n + 6){
  left: calc(50% + 660px);
  opacity: 0;
}


.item .content{
  position: absolute;
  top: 50%;
  left: 100px;
  width: 300px;
  text-align: left;
  color: #eee;
  transform: translate(0, -50%);
  font-family: system-ui;
  display: none;
}


.slide .item:nth-child(2) .content{
  display: block;
}


.content .name{
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0;
  animation: animate 1s ease-in-out 1 forwards;
}

.content .des{
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 20px;
  opacity: 0;
  animation: animate 1s ease-in-out 0.3s 1 forwards;
  color: white;
}

.content button{
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  opacity: 0;
  animation: animate 1s ease-in-out 0.6s 1 forwards;
}

@keyframes animate {
  from{
      opacity: 0;
      transform: translate(0, 100px);
      filter: blur(33px);
  }

  to{
      opacity: 1;
      transform: translate(0);
      filter: blur(0);
  }
}

.button{
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 20px;
}

.button button{
  width: 40px;
  height: 35px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin: 0 5px;
  border: 1px solid #000;
  transition: 0.3s;
}

.button button:hover{
  background: #ababab;
  color: #fff;
}
/* Index Styles end here */


/* Styles for Home CSS */
.header{
    position: fixed;
    width: 100%;
    height: 10px;
    top: 0;
    left: 0;
    padding: 4rem 15%;
    background: rgba(0,0,0,0.3);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
#menu-icon{
    font-size: 3.5rem;
    color: var(--main-color);
    display: none;
}
.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.logo:hover{
    transform:scale(1.1);
}
span{
  background: linear-gradient(270deg,#DF8980 10%, #ff1d15 100%);
  background-clip: text;
  color: transparent;
}
.navbar a{
  font-size:1.8rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3 ease-in-out;
  border-bottom: 3px solid transparent;
}
.navbar a:hover{
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}
.gradient-btn{
  font-size: 1.8rem;
  padding: 1rem 2rem;
  border-radius: 3rem;
  background: linear-gradient(270deg,#DF8980 10%, #ff1d15 100%);
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  color: white;
  border: none;
  text-wrap: nowrap;
}
.gradient-btn:hover{
  transform: scale(1.05);
}

section{
  min-height: 100vh;
  padding: 10rem 15%;
}
.home{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
}
.home-content{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}
.home-content h3{
  font-size: 4rem;
  text-align: left;
  margin: 1rem 0;
}
.home-content p{
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8;
}
.home-img img{
  width: 32vw;
  border: 50%;
  box-shadow: 0 0 25px var(--main-color);
  transition: 0.4s ease-in-out;
}
.home-img img:hover{
  box-shadow: 0 0 25px var(--main-color),
              0 0 50px var(--main-color),
              0 0 100px var(--main-color);
}
.social-icons a{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  padding: 1rem;
  background: transparent;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  color: var(--main-color);
  margin: 3rem 0.5rem;
  transition: 0.3s ease-in-out;
}

.social-icons a:hover{
  color: var(--text-color);
  background-color: var(--main-color);
  transform: scale(1.2)translateY(-5px);
  box-shadow: 0 0 25px var(--main-color);
}

.social-icon i {
  font-size: inherit;
  line-height: 1;
}

.social-icon.youtube i {
  font-family: 'bx';
}

.btn-group{
  display: flex;
  gap: 1.5rem;
}
.btn{
  display: inline-block;
  padding: 1rem 3rem;
  background-color: var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
  border-radius: 3rem;
  font-size: 1.8rem;
  color: black;
  border: 2px solid transparent;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}
.btn:hover{
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--main-color),
              0 0 50px var(--main-color);
}
.btn-group a:nth-of-type(2){
  background-color: black;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  box-shadow: 0 0 25px transparent;
}
.btn-group a:nth-of-type(2):hover{
  box-shadow: 0 0 25px var(--main-color);
  background-color: var(--main-color);
  color:black;
}
/* Home Styles ends here*/

/* Styles for ABOUT CSS */

.header{
  position: fixed;
  width: 100%;
  height: 10px;
  top: 0;
  left: 0;
  padding: 4rem 15%;
  background: rgba(0,0,0,0.3);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
#menu-icon{
  font-size: 3.5rem;
  color: var(--main-color);
  display: none;
}
.logo{
  font-size: 3rem;
  color: var(--text-color);
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.logo:hover{
  transform:scale(1.1);
}
span{
background: linear-gradient(270deg,#DF8980 10%, #ff1d15 100%);
background-clip: text;
color: transparent;
}
.navbar a{
font-size:1.8rem;
color: var(--text-color);
margin-left: 4rem;
font-weight: 500;
transition: 0.3 ease-in-out;
border-bottom: 3px solid transparent;
}
.navbar a:hover{
color: var(--main-color);
border-bottom: 3px solid var(--main-color);
}
.gradient-btn{
font-size: 1.8rem;
padding: 1rem 2rem;
border-radius: 3rem;
background: linear-gradient(270deg,#DF8980 10%, #ff1d15 100%);
letter-spacing: 1px;
cursor: pointer;
transition: 0.3s ease-in-out;
color: white;
border: none;
text-wrap: nowrap;
}
.gradient-btn:hover{
transform: scale(1.05);
}


.about{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  background: var(--second-bg-color);
}
.about-img img{
  width: 32vw;
  border: 50%;
  box-shadow: 0 0 25px var(--main-color);
  transition: 0.4s ease-in-out;
}
.about-img img:hover{
  box-shadow: 0 0 25px var(--main-color),
              0 0 50px var(--main-color),
              0 0 100px var(--main-color);
}
.about-content h2{
  font-size: 7rem;
  text-align: left;
}
.about-content p{
  font-size: 16px;
}
.about-content .btn{
  margin: 3rem 0;
}

#aboutpage-content {
  text-align: center;
}

#aboutpage-content h1 {
  font-size: 45px;
}

#aboutpage-content p {
  font-size: 25px;
  margin-bottom: 20px;
}


.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.gallery-item {
  background:var(--second-bg-color);
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: calc(33.333% - 40px);
  box-sizing: border-box;
  margin-bottom: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.gallery-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  background-color: #10addd;
  border: 2px solid;
  margin-bottom: 10px;
}

.gallery-item p {
  font-size: 20px;
  line-height: 1.6;
}

/* ENDS HERE */

/* Styles for Contact */

.header{
  position: fixed;
  width: 100%;
  height: 10px;
  top: 0;
  left: 0;
  padding: 4rem 15%;
  background: rgba(0,0,0,0.3);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
#menu-icon{
  font-size: 3.5rem;
  color: var(--main-color);
  display: none;
}
.logo{
  font-size: 3rem;
  color: var(--text-color);
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.logo:hover{
  transform:scale(1.1);
}
span{
background: linear-gradient(270deg,#DF8980 10%, #ff1d15 100%);
background-clip: text;
color: transparent;
}
.navbar a{
font-size:1.8rem;
color: var(--text-color);
margin-left: 4rem;
font-weight: 500;
transition: 0.3 ease-in-out;
border-bottom: 3px solid transparent;
}
.navbar a:hover{
color: var(--main-color);
border-bottom: 3px solid var(--main-color);
}
.gradient-btn{
font-size: 1.8rem;
padding: 1rem 2rem;
border-radius: 3rem;
background: linear-gradient(270deg,#DF8980 10%, #ff1d15 100%);
letter-spacing: 1px;
cursor: pointer;
transition: 0.3s ease-in-out;
color: white;
border: none;
text-wrap: nowrap;
}
.gradient-btn:hover{
transform: scale(1.05);
}


.contact{
  background-color: var(--bg-color);

}
.contact h2{
  margin-bottom: 3rem;
  color: var(--text-color);
}
.contact form{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 5rem 0;
  text-align: center;
}

.contact form .input-box input,
.contact form textarea{
  width: 100%;
  padding: 2.5rem;
  font-size: 1.8rem;
  color: var(--text-color);
  background-color: var(--bg-color);
  border-radius: 2rem;
  border: 2px solid var(--main-color);
  margin: 1.5rem 0;
  resize: none;
}

.footer{
  background-color: var(--second-bg-color);
  padding: 50px 0;
}

.footer .social-icons{
  text-align: center;
}

.footer ul{
  text-align: center;
  font-size: 1.8rem;
}

.footer ul li{
  display: inline-block;
  margin-left: 20px;
}
.footer ul li a{
  color: white;
  border-bottom: 3px solid transparent;
  transition: 0.3s ease-in-out;
}

.footer ul li a:hover{
  border-bottom: 3px solid var(--main-color);
}
.footer .copyright{
  text-align: center;
  margin-top: 40px;
  font-size: 16px;
}

/* Contact Styles ends here */


/* Styles for GALLERY CSS */
.container{
  max-width: 1200px;
  width: 95%;
  background-color: var(--bg-color);
}
.container h3 {
  font-size: 50px;
  color: var(--text-color);
  text-align: center;
}
.h1{
  font-size: 40px;
  color: var(--text-color);
  text-align: center;
}
.slider-wrapper .image-list{
  display: grid;
  gap: 18px;
  font-size: 0;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
  grid-template-columns: repeat(10, 1fr);
}
.slider-wrapper .image-list::-webkit-scrollbar{
  display:none ;
}
.slider-wrapper .image-list .image-item{
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.container .slider-scrollbar{
  height: 24px;
  width: 100%;
  background: var(--main-color);
  display: flex;
  align-items: center;
}
/* GALLERY Styles ends here */